#game {
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -ms-transform-origin: center top;
    -o-transform-origin: center top;
    transform-origin: center top;
    position: relative;
    overflow: auto;
    padding: 20px 5px 5px 5px;
    max-width: 100%;
    max-height: 100%;
    border: 10px solid rgba(51, 51, 51, 1);
    background-color: #ccc;
}

#counter {
  width: 100%;
  height: 100px;
  text-align: center;
}

#winner {
  text-align: center;
  color: white;
  font-size: 1.5em;
}


.container-class {
  height: auto;
  outline: none;
  margin: 0 auto;
}


.container-class div, img {
    background-color: black;
    width: 32px;
    height: 32px;
    float: left;
}

#otherPlayerStatus {
  position: absolute;
  top: 200px;
  right: 100px;
}
