/******************
    Pallette
******************/



/******************
    GAME-COLORS
******************/
#B {
  color: red;
}

#O {
  color: blue;
}

#Y {
  color: lightgreen;
}

#Z {
  color: yellow;
}
