.center {
  margin: 0 auto;
  width: 100%;
}
.center-top-third {
  margin: 30% auto;
  width: 30%;
}
.center-third {
  margin: 0 auto;
  width: 30%;
}
.center-half {
  margin: 0 auto;
  width: 50%;
}
.center-two-third {
  margin: 0 auto;
  width: 50%;
}
.center-ninety {
  margin: 0 auto;
  width: 90%;
}
.third {
  margin: 0 auto;
  width: 30%;
}
.center-full {
  margin: 0 auto;
  width: 100%;
}
.center-text {
  text-align: center;
}
.big-button{
  display: block;
  width: 50%;
  max-width: 480px;
  color: rgba(255, 255, 255, 1);
  font-size: 2rem;
  padding: 1rem;
  margin: .5rem auto;
  text-decoration: none;
  text-align: center;
  letter-spacing: .5rem;
  border-radius: 7px;
  background: rgba(51, 51, 51, 1);
}
.med-button {
  display: block;
  width: 30%;
  max-width: 240px;
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  padding: 1rem;
  margin: .5rem auto;
  text-decoration: none;
  text-align: center;
  letter-spacing: .5rem;
  border-radius: 7px;
  background: rgba(51, 51, 51, 1);
}
.big-button:hover {
  background: rgba(81, 81, 81, 1);
}
.med-button:hover {
  background: rgba(81, 81, 81, 1);
}
/******************
      LOGO
******************/
.logo {
  width: 90%;
  max-width: 960px;
}
.small-logo {
  width: 50%;
  max-width: 480px;
}
/******************
      FOOTER
******************/

footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
}
