.center {
  margin: 0 auto;
  width: 100%;
}
.center-top-third {
  margin: 30% auto;
  width: 30%;
}
.center-third {
  margin: 0 auto;
  width: 30%;
}
.center-half {
  margin: 0 auto;
  width: 50%;
}
.center-two-third {
  margin: 0 auto;
  width: 50%;
}
.center-ninety {
  margin: 0 auto;
  width: 90%;
}
.third {
  margin: 0 auto;
  width: 30%;
}
.center-full {
  margin: 0 auto;
  width: 100%;
}
.center-text {
  text-align: center;
}
.big-button{
  display: block;
  width: 50%;
  max-width: 480px;
  color: #FDFDFD;
  font-size: 2rem;
  padding: 1rem;
  margin: .5rem auto;
  text-decoration: none;
  text-align: center;
  letter-spacing: .5rem;
  border: 5px solid #FDFDFD;
  border-radius: 7px;
  background: #25064C;
}
.med-button {
  display: inline-block;
  width: 30%;
  max-width: 240px;
  color: #FDFDFD;
  font-size: 2rem;
  padding: .5rem;
  margin: .5rem auto;
  text-decoration: none;
  text-align: center;
  letter-spacing: .5rem;
  border: 5px solid #FDFDFD;
  border-radius: 7px;
  background: #25064C;
}
.big-button:hover {
  border: 5px solid #CCCCCC;
  background: #36175E;
  color: #CCCCCC;
}
.med-button:hover {
  border: 5px solid #CCCCCC;
  background: #36175E;
  color: #CCCCCC;
}
/******************
      LOGO
******************/
.logo {
  width: 90%;
  max-width: 960px;
}
.small-logo {
  width: 50%;
  max-width: 480px;
}
/******************
      FOOTER
******************/
footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
}
