<!DOCTYPE html>
<html lang="en" ng-app='myApp'>

<head>
	<title>GAME | BOYZ</title>
	<title>$templateCache</title>
	<meta charset="UTF-8">

	<link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/layout.css">
	<link rel="stylesheet" type="text/css" href="css/colors.css">
	<link rel="stylesheet" type="text/css" href="css/nav.css">
	<link rel="stylesheet" type="text/css" href="css/rooms.css">

	<script type="text/javascript" src='js/vendor/angular.min.js'></script>
	<script type="text/javascript" src='js/vendor/angular-route.min.js'></script>

	<script type="text/javascript" src="js/levels.js"></script>
	<script type="text/javascript" src="js/boxer.js"></script>
	<script type="text/javascript" src="js/multiplayer.js"></script>
	<script type="text/javascript" src="js/main-control.js"></script>
	<script type="text/javascript" src="js/login-control.js"></script>
	<script type="text/javascript" src="js/game-control.js"></script>
	<script type="text/javascript" src='/socket.io/socket.io.js'></script>
	<script type="text/javascript" src='js/vendor/socket.js'></script>
	<script type="text/javascript" src="js/room-controller.js"></script>

</head>

<body ng-controller='loginCtrl'>
	</div>
	<header>
		<nav id="navBar">
			<!-- <div id="logo">
					<h1>Game</h1>
						<span id="B">B</span>
						<span id="O">O</span>
						<span id="Y">Y</span>
						<span id="Z">Z</span>
					<h2> Boxxle </h2>
				</div> -->
			<ul>
				<li class="sub" id="homeNav"><a href="#/"><i class="fa fa-home fa-lg"></i> Home</a>
					<aside></aside>
					<ul>
						<li><a href="#/login">login</a></li>
						<li><a href="#/about">about</a></li>
					</ul>
				</li>

				<li class="sub"><a href="" ng-click="checkToken()"><i class="fa fa-edit fa-lg"></i>Play</a>
					<aside></aside>
					<ul>
						<li><a href="/guest">guest</a></li>
						<li><a href="" ng-click="roomToken()">Multiplayer</a></li>
					</ul>
				</li>
					<aside></aside>
				</li>
			</ul>
			</li>
			</ul>

		</nav>
	</header>
	<main>
		<div ng-view></div>
	</main>
</body>

</html>
