<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Game Boyz | Final Project </title>
    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../../css/main.css">
    <link rel="stylesheet" href="../../../css/multiplayer.css">
  </head>
  <body>
    <header>
      <div id="logo">
        <h1> Game <span id="B">B</span><span id="O">O</span><span id="Y">Y</span><span id="Z">Z</span></h1>
        <h2> Boxxle </h2>
      </div>
      <nav>
        <ul>
          <li><a href="index.html" >Home</a></li>
          <li><a href="description.html" >Description</a></li>
          <li><a href="play.html" class="selected">Play</a></li>
        </ul>
      </nav>
    </header>

    <div id="firstPlayerGameInfo">
      <div id='firstPlayerStatus'>
        <div id="firstPlayerCounter"> </div>
        <div id="firstPlayerGame">
          <div id="firstPlayerGameBoard">
            <!-- JS will put table here. -->
          </div>
        </div>
      </div>
    </div>

    <div id='currentRoom'> <p>Welcome, you are currently in room <span id='roomName'><%=room%></span> </p>
      <p>Level Difficulty  : <span id='roomDiff'><%=diff%></span> </p>
      <p>Number Of Levels To Win  : <span id='roomLevelsToWin'><%=levelsToWin%></span> </p>
    </div>

    <div id="secondPlayerGameInfo">
      <div id='secondPlayerStatus'>
        <div id="secondPlayerCounter"> </div>
          <div id="secondPlayerGame">
            <div id="secondPlayerGameBoard">
              <!-- JS will put table here. -->
            </div>
          </div>
        </div>
    </div>

    <footer>
      <p> &copy; 2015 Team Game Boyz </p>
    </footer>

    <script type="text/javascript" src="../../../js/vendor/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../../../js/levels.js"></script>
    <script type="text/javascript" src="../../../js/multiplayer.js"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script>
      var currentRoom = $.trim($('#roomName').text());
      var difficulty = $.trim($('#roomDiff').text());
      var levelsToWin = Number($.trim($('#roomLevelsToWin').text()));
      var startingLevel = 0;
      startGame(startingLevel,difficulty,levelsToWin);

      var clientSocket = io('/multiplayer');
      clientSocket.emit('joinedRoom', currentRoom);

      clientSocket.on('broad', function(data){
        secondPlayerKeyDownEvent(data.keyCode);
        // clientSocket.emit('firstPlayerCanMove', data);
      });

      // clientSocket.on('moveFirstPlayer', function(data){
      //     firstPlayerKeyDownEvent(data.keyCode);
      // });

      function secondPlayerInput(key) {
        key.preventDefault();
        firstPlayerKeyDownEvent(key.keyCode);
        var input = {};
        input.keyCode = key.keyCode;
        input.roomName = currentRoom;
        clientSocket.emit('move', input );
      }

      clientSocket.on('startGame', function(data){
        window.addEventListener("keyup", secondPlayerInput, false);
        clientSocket.emit('otherUserCanStart', data);
      });


    </script>
  </body>
</html>
