<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html ng-app="boxxleApp">
  <head>
    <meta charset="utf-8">
    <title> Game Boyz | Final Project </title>
    <script type="text/javascript" src= "js/vendor/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/vendor/angular.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="css/boxxle.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <link rel="stylesheet" type="text/css" href="css/colors.css">
    <link rel="stylesheet" type="text/css" href="css/nav.css">
    <link rel="stylesheet" type="text/css" href="css/rooms.css">
  </head>
  <header>
    <nav id="navBar">
      <!-- <div id="logo">
          <h1>Game</h1>
            <span id="B">B</span>
            <span id="O">O</span>
            <span id="Y">Y</span>
            <span id="Z">Z</span>
          <h2> Boxxle </h2>
        </div> -->
      <ul>
        <li class="sub" id="homeNav"><a href="/#/"><i class="fa fa-home fa-lg"></i> Home</a>
          <aside></aside>
          <ul>
            <li><a href="/#/login">login</a></li>
            <li><a href="/#/about">about</a></li>
          </ul>
        </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <body>
      <section class="center">
        <h6 class='center light-text' id="difficulty">Difficulty: </h6>
        <h6 class='center light-text' id="currentLevel">Level: </h6>
        <h6 class='center light-text' id="stepCount">Steps: </h6>
    </section>
    <div ng-controller='gameCtrl' id="status">
          <div class='center' id="game">
              <div id="gameBoard">
                  <!-- Angular will put table here. -->
              </div>
          </div>
      </div>
      <footer>
        <p> &copy; 2015 Team Game Boyz </p>
      </footer>
      <script type="text/javascript" src= "js/levels.js"></script>
      <script type="text/javascript" src= "js/boxer.js"></script>
      <script type="text/javascript" src="js/game-control.js"></script>
</body>
</html>
