<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/login.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
        <!-- <section class='logo'>
            <img id='gameBoy' src='img/boxxlelogo.svg'></img>
        </section> -->
        <section class='login-select'>
            <a class='twitter-login' href="/connect/twitter">
                <img src='img/twit.svg'></img><br>Login</a>
            <a class='guest-login' href="#/guest">
                <img src='img/prsn.svg'></img><br>Guest</a>
        </section>
</body>

</html>
