<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <meta charset="utf-8">
    <title> Game Boyz | Final Project </title>

    <script type="text/javascript" src= "js/vendor/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/vendor/angular.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="css/boxxle.css">
  	<link rel="stylesheet" type="text/css" href="css/main.css">
  	<link rel="stylesheet" type="text/css" href="css/layout.css">
  	<link rel="stylesheet" type="text/css" href="css/colors.css">

  	<link rel="stylesheet" type="text/css" href="css/nav.css">
  	<link rel="stylesheet" type="text/css" href="css/rooms.css">

  </head>
  <body ng-app="boxxleApp">
    <header>
  		<nav id="navBar">
  			<ul>
  				<li class="sub" id="homeNav"><a href="/#/"><i class="fa fa-home fa-lg"></i> Home</a>
  					<aside></aside>
  					<ul>
  						<li><a href="/#/about">about</a></li>
  					</ul>
  				</li>
  				<li class="sub"><a href="" ng-click="checkToken()"><i class="fa fa-edit fa-lg"></i>Play</a>
  					<aside></aside>
  					<ul>
  						<li><a href="/#/rooms">Multiplayer</a></li>
  						</ul>
  						</li>
  						<li><a href="/#/" onclick="localStorage.removeItem('token')"><i class="fa fa-edit fa-lg"></i>Logout</a>
  							<aside></aside>
  								</li>
  					</ul>
  				</li>
  			</ul>

  		</nav>
  	</header>
    <!-- <div id="gameplay">
      <p class='playParagraphs'> Hey, welcome to the Boxxle Game Page. By now you should have
         already entered a username and should be ready to play. If you
         are still a little hazy on how the game works here is a basic
         summary. The goal is to get the character (blue guy) to move around and push all the
         crates over the dots. Once the box is over a crate, it should turn blue. If all the crates
         are over the dots then you will be able to advance to the next level
         by pressing enter. </p>

      <p class='playParagraphs'> If you do not see a character or crates,
         simply press enter to generate them. If you find yourself stuck on
         the level and have no where to go. Simply refresh the page to start the level over. </p>

      <p class='playParagraphs'> Press Space Bar to clear these paragraphs. Enjoy the Game! </p>
    </div> -->

    <div ng-controller='gameCtrl' id="status">
      <section class="center-select">
      <h6 class='center light-text' id="difficulty">Difficulty: </h6>
      <h6 class='center light-text' id="currentLevel">Level: </h6>
      <h6 class='center light-text' id="stepCount">Steps: </h6>
    </section>
          <div  class='center' id="game">
              <div id="gameBoard">
                  <!-- Angular will put table here. -->
              </div>
          </div>

      </div>
      <section class='center'>
        <h6 class='center light-text' id='startTxt'>Press Enter to Start</h6>
      </section>

      <footer>
        <p> &copy; 2015 Team Game Boyz </p>
      </footer>
      <script type="text/javascript" src="js/setCookie.js"></script>
      <script type="text/javascript" src= "js/levels.js"></script>
      <script type="text/javascript" src="js/boxer.js"></script>
      <script type="text/javascript" src="js/game-control.js"></script>
</body>
</html>
