
  <meta charset="utf-8">
  <title> Game Boyz | Final Project </title>
  <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/rooms.css">

 <h5 id='header'> Multiplayer Rooms </h5>

  <div id='wrapper'>
    <h6> Create Room </h6>
    <div> Room Name  :
      <input ng-model='roomName' type="text"/>
    </div>
    <br>
    Level Difficulty  : <br>
    <input type='radio' ng-model='diff' value='easy'> easy </input><br>
    <input type='radio' ng-model='diff' value='hard'> hard </input><br>
    Number of Levels to Win  : <br>
    <input type='radio' ng-model='levels' value='1'> 1 </input><br>
    <input type='radio' ng-model='levels' value='3'> 3 </input><br>
    <input type='radio' ng-model='levels' value='5'> 5 </input><br>

    <input id='submit' ng-click='createRoom()' type='button'  value='Create Room'>
    <p> {{error}} </p>

    <h6>Join Room </h6>
    <ul ng-repeat='room in rooms'>
      <li>
        <div ng-click='joinRoom(room)' class='roomName light-text-green'>Room Name: {{room.name}} </div>
        <ul>
          <li> Difficulty: {{room.diff}} </li>
          <li> Number of Levels to Win: {{room.numberOfLevelsToWin}} </li>
          <li> Number of Users in Room: {{room.usersInRoom}} <span> {{room.roomIsFull}} </span> </li>
        </ul>
      </li>
    </ul>

    </div>


    <footer>
      <p> &copy; 2015 Team Game Boyz </p>
    </footer>
